<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="ImeSense.Controls.WinForms.PropertyGrid" version="0.1.0" targetFramework="net472" />
    <package id="DockPanelSuite" version="3.1.0" targetFramework="net40" />
    <package id="DockPanelSuite.ThemeVS2015" version="3.1.0" targetFramework="net40" />
</packages>
