BasedOnStyle: LLVM

UseTab: Always
IndentWidth: 4
TabWidth: 4
SortIncludes: Never
BreakBeforeBraces: Allman

BreakInheritanceList: AfterColon
ConstructorInitializerIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: true

BinPackParameters: false
BinPackArguments: false
PenaltyBreakBeforeFirstCallParameter: 0
AlignAfterOpenBracket: BlockIndent

InsertBraces: true

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Never

ColumnLimit: 0
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
PointerAlignment: Left
Standard: c++20
IndentCaseLabels: true
MaxEmptyLinesToKeep: 2
KeepEmptyLinesAtTheStartOfBlocks: false

AccessModifierOffset: -4