<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- DirectX packages -->
  <package id="directxmath" version="2024.2.15.1" targetFramework="native" />
  <package id="directxmesh_desktop_2019" version="2024.6.5.1" targetFramework="native" />
  <package id="directxtex_desktop_2019" version="2024.6.5.1" targetFramework="native" />
  <package id="Microsoft.DXSDK.D3DX" version="9.29.952.8" targetFramework="native" />
  
  <!-- ImeSense packages -->
  <package id="ImeSense.Packages.LibOgg" version="1.3.5.4" targetFramework="native" />
  <package id="ImeSense.Packages.LibVorbis" version="1.3.7.4" targetFramework="native" />
  <package id="ImeSense.Packages.OpenALSoft" version="1.23.1.1" targetFramework="native" />
  <package id="ImeSense.Packages.Zlib" version="1.2.13.1" targetFramework="native" />
  <package id="ImeSense.Packages.Sdl.Runtimes.win-x64" version="2024.3.16-open" targetFramework="native" />
  <package id="ImeSense.Packages.LibTheora" version="1.1.1.3" targetFramework="native" />
  <package id="ImeSense.Packages.FreeType" version="2.13.2" targetFramework="native" />
  <package id="ImeSense.Packages.FreeImage.WinMerge" version="2023.8.19-open" targetFramework="native" />
  <package id="ImeSense.Packages.GameNetworkingSockets.Vcpkg.Runtimes.win-x64" version="1.4.1" targetFramework="native" />
  <package id="ImeSense.Packages.OneTbb.Runtimes.win7-x64" version="2021.11.0" targetFramework="native" />
  <package id="ImeSense.Packages.FidelityFX.FSR2.DirectX11.Runtimes.win-x64" version="2.2.1.1" targetFramework="native" />
  <package id="ImeSense.Packages.SpeexDsp.Runtimes.win-x64" version="2024.6.4.1-open" />
  <package id="ImeSense.Packages.Opus.Runtimes.win-x64" version="2024.5.22-open" />
  <package id="ImeSense.Packages.Mimalloc.Runtimes.win-x64" version="2.1.7.3" targetFramework="native" />
  <package id="ImeSense.Packages.Nvtt.Runtimes.win-x64" version="2024.6.1-open" targetFramework="native" />
  <package id="ImeSense.Packages.Lzo.Runtimes.win-x64" version="2.10.0" targetFramework="native" />
  <package id="ImeSense.Packages.RedImageTool.Runtimes.win-x64" version="0.1.0" targetFramework="native" />
  <package id="ImeSense.Packages.Optick.Runtimes.win-x64" version="1.4.0.1" targetFramework="native" />
  <package id="ImeSense.Packages.YamlCpp.Runtimes.win-x64" version="0.8.0" targetFramework="native" />
  <package id="ImeSense.Packages.Embree.Runtimes.win-x64" version="4.3.3" targetFramework="native" />

  <!-- IX-Ray packages -->
  <package id="IXRay.Packages.LuaJIT.Runtimes.win-x64" version="2017.8.11-open" targetFramework="native" />
</packages>
