<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="directxmath" version="2022.12.12.1" targetFramework="native" />
  <package id="directxmesh_desktop_win10" version="2023.4.28.1" targetFramework="native" />
  <package id="Microsoft.DXSDK.D3DX" version="9.29.952.8" targetFramework="native" />
</packages>