<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImeSense.Packages.LibOgg" version="1.3.5.4" targetFramework="native" />
  <package id="ImeSense.Packages.LibVorbis" version="1.3.7.4" targetFramework="native" />
  <package id="ImeSense.Packages.OpenALSoft" version="1.23.1.1" targetFramework="native" />
</packages>