<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="directxmath" version="2022.12.12.1" targetFramework="native" />
  <package id="ImeSense.Packages.Sdl.Runtimes.win-x64" version="2024.3.16-open" targetFramework="native" />
  <package id="ImeSense.Packages.Sdl.Runtimes.win-x86" version="2024.3.16-open" targetFramework="native" />
</packages>