<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImeSense.Packages.Sdl.Runtimes.linux-x64" version="2023.12.9.1-open" targetFramework="native" />
  <package id="ImeSense.Packages.Marl" version="2023.11.29-open" targetFramework="native" />
  <package id="ImeSense.Packages.Optick" version="1.4.0" targetFramework="native" />
  <package id="directxmath" version="2022.12.12.1" targetFramework="native" />
</packages>